header {
    border-bottom: solid 1px lightgray;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 0px;
}
header span.tab {
    width: 50%;
    font-size: 15px;
    display: inline-block;
}
header span.selected{
    border-bottom: solid 2px #4c6ed2;
    color: #4c6ed2;
}
.orderBox{
    margin:10px 10px 60px 10px;
}
.item{
    background: #fff;
    border:1px solid #dedfe0;
    border-left: 5px solid #4c6ed2;
    border-radius: 5px;
    padding-bottom: 14px;
    margin-bottom: 10px;
}
/*Ê§Ð§¶©µ¥*/
.disable_boder_color{
    border-left: 5px solid #d4d4d4!important;
}
.disable_color{
    color:#d4d4d4!important;
}
.itemTitle{
    height: 45px;
    font-size: 15px;
    line-height: 45px;
    padding-left: 12px;
    border-bottom:1px solid #dedfe0;
    color:#666;
}
.itemTitle div{
    display: inline-block;
    float: right;
    margin-right: 15px;
}
.itemTitle div>span{
    color:#4c6ed2;
}
.itemTitle div span:nth-child(1){
    display: inline-block;
    width: 16px;
    height: 18px;
    background: url(../img/order_new/sh_dd_djs.png) no-repeat;
    background-size: 16px 18px;
    vertical-align: middle;
    margin-right: 8px;

}
.itemContent{
    font-size: 0;
    padding-left: 12px;
}
.itemContent div{
    display: inline-block;
}
.itemContent div:nth-child(1){
    width: 40%;
}
.itemContent div:nth-child(2){
    width: 40%;
}
.itemContent div:nth-child(3){
    width: 20%;
}
.itemContent div p:nth-child(1){
    font-size: 20px;
    color:#303030;
    margin-top: 12px;
}
.itemContent div p:nth-child(2){
    font-size: 12px;
    color:#959595;
    margin-top: 4px;
}