/*index*/
#content{
    display: none;
}
.icon_list{
    background: #405fbb;
    padding: 35px 0;
    overflow: hidden;
}
.icon_list li{
    float: left;
    width: 25%;
    text-align: center;
    font-size: 0;
}
.icon_list li.bubble{
    position: relative;
}
.icon_list li .bubbleNumber{
    content:attr(number);
    position: absolute;
    display: inline-block;
    width:31px;
    height: 19px;
    background: url("../img/sh_home_jb.png") no-repeat;
    background-size: 31px 19px;
    font-size: 14px;
    color:#6a490c;
    left: 48px;
    top: -8px;
    text-align: center;
    padding-left: 2px;
}
.icon_list li a{
    display: inline-block;
    width: 50%;
}
.icon_list img{
    width: 100%;
}
.icon_list .icon_name{
    display: block;
    margin-top: 10px;
    font-size: 13px;
    width: 100%;
    color: #fff;
}
.item{
    background: #fff;
    margin: 10px 10px 0px 10px ;
    border: 1px solid #dedfe0;
    border-radius: 5px;
    color:#303030;
    font-size: 15px;
}
.itemTitle{
    padding: 15px 15px 20px 15px;
}
.timeIcon{
    display: inline-block;
    width: 16px;
    height: 17px;
    margin-right: 3px;
    color:#666;
    vertical-align: -2px;
    background: url("../img/sh_home_rl.png") no-repeat;
    background-size: 16px 17px;
}
.icon1{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    vertical-align: -7px;
    background: url("../img/sh_home_je.png") no-repeat;
    background-size: 25px 25px;
}
.icon2{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    vertical-align: -7px;
    background: url("../img/sh_home_bs.png") no-repeat;
    background-size: 25px 25px;
}
.itemContent>div{
    font-size: 15px;
    color:#666;
}
.itemContent>div:nth-child(2){
    margin-left: 5%;
}
.itemContent>div:nth-child(1){
    float: right;
    margin-right: 7%;
    margin-top: -8px;
}
.spanIcon{
    display: inline-block;
    width:9px;
    height: 10px;
    margin-right: 10px;
    background: url("../img/home_a_icon.png") no-repeat;
    background-size:9px 10px ;
}
.spanIcon1{
    background: url("../img/home_b_icon.png") no-repeat;
    background-size:9px 10px ;
}
.itemContent>div:nth-child(2) p:nth-child(2),.itemContent>div:nth-child(2) p:nth-child(4){
    font-size: 21px;
    color: #303030;
    padding-top: 3px;
    padding-bottom: 16px;
    margin-left: 17px;
}
.itemContent>div:nth-child(2) i:nth-child(2){
    font-size: 12px;
}
#circle1{
    margin-right: 10px;
    margin-top: 10px;
}
#circle2{
    margin-right: 10px;
    margin-top: 10px;
}
.canvasBox{
    padding-bottom: 13px;
    text-align: right;
}
.canvasIcon>p span{
    display: inline-block;
    width:9px;
    height: 10px;
    margin-right: 5px;
}
.canvasIcon>p span:nth-child(1){
    background: url("../img/home_a_icon.png") no-repeat;
    background-size: 9px 10px;
}
.canvasIcon>p span:nth-child(3){
    background: url("../img/home_b_icon.png") no-repeat;
    background-size: 9px 10px;
    margin-left: 12px;
}
/*font-size*/
.font12{ font-size:12px}
.font13{ font-size:13px}
.font14{ font-size:14px}
.font14Im{font-size: 14px !important;}
.font15{ font-size:15px}
.font16{ font-size:16px}
.font24{ font-size:24px;}
.font30{ font-size:30px}

/*color*/
.color_list_red{ color:#fe6666;}
.color_list_orange{ color:#ff8400;}
.color_orange{ color:#ff6738;}
.color_darkBlue{ color:#3565a6;}
.color_blue{ color:#4c6ed2;}
.color_lightBlack{ color:#303030;}
.color_darkGrey{ color:#505050;}
.color_grey{ color:#666;}
.color_grey_info{ color:#959595;}
.color_lightGrey{ color:#cecece;}
.color_footer{color: #808080}
.color_white{ color: #fff}
/*footer*/
.footer{
    width: 100%; height: 49px; position: fixed; left: 0; bottom: 0;
    z-index: 99; background: #f3f3f3;
    opacity: .97;
    border-top:1px solid #d4d4d4;
    filter:alpha(opacity=97);
}
.ftBlank{
    width:100%;height:65px;
}
.footerList{ height: 49px; position: relative;}
.footerList li{ float: left; width:50%; height:40px; text-align: center; padding-top:7px; position: relative;}
.footerList li.center-img {
    width:16%;
}
.footer_icon{
    background: url("../img/footer_new.png") no-repeat;
    width:22px;
    height:20px;
    background-size: 22px auto;
    background-position: 0 -64px;
    margin:auto;
}
.bill_icon{ background-position: 0 -20px;}
.profit_icon{ background-position: 0 -40px;}
.my_icon{ background-position: 0 -21px;}
.post .footer_icon{ background-position: 0 -43px;}
.post .bill_icon{ background-position: -22px -20px;}
.post .profit_icon{ background-position: -22px -40px;}
.post .my_icon{ background-position: 0 0;}
.post p{ color:#4c6ed2;}
.footerJie_icon{ width:52px; height:52px; position: absolute; top:-8px; left:50%; margin-left: -26px;}
.footerJie_icon img{ width:52px; height:52px;}
.footerList p{ line-height: 22px;}
.ftBorder{ position: absolute; left:0; bottom:49px;width:100%;}
.ftBorder img{ width:100%; height:auto; background-size: contain; display: block;}
#shade{position: fixed;  left: 0;top: 0;width: 100%;bottom:0;background: rgba(0,0,0,0);z-index:111;}

/*orderConfirem*/
.confirmeBox{
    padding: 20px;
    background: #fff;
}
.confirmeBox h1{
    font-size: 17px;
    color:#303030;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.confirmeBox p{
    margin-top:15px;
}
.confirmeBox p span:nth-child(1){
    float: right;
    font-size: 15px;
    color:#303030;
}
.confirmeBox p .type{
    display: inline-block;
    float: right;
    width: 67px;
    height: 16px;
    background: url("../img/type_icon.png") no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}
.confirmeBox p .type.active{
    background-position: -70px 0px;
}
.confirmeBox p span:nth-child(2){
    font-size: 13px;
    color:#666;
}
.agreementBox{
    font-size: 012px;
    margin-left:20px;
    margin-top:010px;
}
.agreementBox .agree{
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-right:9px;
    background: url("../img/selected_icon.png") no-repeat;
    background-size: cover;
    vertical-align: middle;
    background-position: 0px 0px;
    margin-top: -1px;
}
.agreementBox .agree.active{
    background-position: 0 -15px;
}
.agreementBox a{
    color:#4c6ed2;
}
.agreementBox p:nth-child(2){
    margin-top:7px;
    color:#666;
}
.bottonBox{
    margin-top:40px;
    margin-right: 20px;
    margin-left: 20px;
    color:#fff;
}
.bottonBox p{
    background: #4c6ed2;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}